body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* HEADER */
.header {
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    height: 80px; 
}

/* LOGO */
.logo img {
    height: 70px;          
    width: 160px;          
    object-fit: cover;     
    object-position: left; 
}

/* SEARCH BOX */
.search-box {
    display: flex;
    width: 45%;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px 0 0 6px;
}

.search-box button {
    padding: 10px 18px;
    border: none;
    background: orange;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 6px 6px 0;
}

.search-box button:hover {
    background: darkorange;
}

/* NAV LINKS */
.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: orange;
}

/* BANNER */
.banner {
    background: linear-gradient(to right, red, purple);
    padding: 70px;
    text-align: center;
    color: white;
}

.banner h2 {
    font-size: 40px;
}

.banner button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.banner button:hover {
    background: black;
    color: white;
}

/* PRODUCT SECTION */
.products {
    padding: 50px;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

/* EQUAL CARD SIZE */
.card {
    width: 230px;
    height: 360px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card button {
    background: orange;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: black;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .search-box {
        width: 90%;
    }
}
